*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: roboto;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,145,111,1) 0%, rgba(0,142,111,1) 0%, rgba(0,142,171,1) 100%);
}

.binnen_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Roboto; 

}

body{
    background: rgb(103,103,103);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(181, 255, 255) 100%);
}

.nav {
    float: right;
    height: 100%;
}

.nav li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 23px;
    transition: 0.3s;
    cursor: pointer;
}
.nav li:hover {
    background-color: rgb(0, 78, 78);
}
.nav li.active {
    background-color: rgb(0, 78, 78);
}

.nav li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: whitesmoke;
    font-family: roboto;
    font-size: 20px;
}

.tabcontent{
    border: none;
    
}

.homecontent{
    width: 96%;
    float: left;
    background-color: rgb(190, 255, 239);
    padding: 10px 10px;
    margin: 25px 25px;
    color: black;
    font-weight: 500;
    display: table;
}
    
.homecontent h1{
    text-align: center;
    font-weight: 700;
}

.homecontent p{
    margin: 10px;

}

.infocontent{
    width: 96%;
    float: left;
    background-color: rgb(190, 255, 239);
    padding: 10px 10px;
    margin: 25px 25px;
    color: black;
    font-weight: 500;
    display: table;
}

.infocontent li{
    width: 96%;
    float: left;
    background-color: rgb(190, 255, 239);
    padding: 10px 10px;
    margin: 25px 25px;
    color: black;
    font-weight: 500;
    display: table;
}